

.main-colors{
    color: #ff5e6e;
    color: #c75c68;
    color: #2aa198;
    color: #5c7874;
    color: #9fe0d7;
    color: #f1f1f1;
    color: #a7a7a7;
    color: #333333;
    color: #2b2b2b;
}

/* --first-color: - #2aa198
--first-color-alt: - #5c7874
--title-color: - #f1f1f1
--text-color: - #a7a7a7
--body-color: - #333333
--container-color: - #2b2b2b */