.container.work-page {
  width: 100%;
  margin-top: 20px;

  h1 {
    width: 100%;
    font-size: 53px;
    font-family: 'Coolvetica', Arial, sans-serif;
    color: #2aa198;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #2aa198;
      font-size: 18px;
      position: absolute;
      margin-top: 15px;
      left: -40px;
      opacity: 0.6;
      line-height: 18px;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #2aa198;
      font-size: 18px;
      position: absolute;
      left: -30px;
      bottom: 10px;
      margin-left: 420px;
      opacity: 0.6;
      line-height: 18px;
    }
  }

  p {
    font-size: 13px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    animation: pulse 1s;
  }

  .text-zone {
    position: absolute;
    left: 35%;
    top: 10%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }

  .cards {
    position: absolute;
    left: 10%;
    top: 27%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .proj-container {
      margin: 1rem;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
      position: relative;
      overflow: hidden;
      margin-right: 30px;
      border-radius: 20px;

      .cards-img {
        height: 200px;
        width: 369px;
      }

      .card-img_hover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        margin: 0.75rem;

        div {
          width: 35px;
          height: 35px;
          cursor: pointer;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 2px;
        }

        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
        }
      }

      .proj-title {
        background-color: transparent;
        text-align: center;
        color: #2aa198;
        font-size: 14px;
      }

      .proj-info {
        background: #2aa197e0;
        padding: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 75%;
        transform: translateY(101%);
        overflow-y: auto;
        transition: transform 0.5s ease-in;

        p {
          font-size: 13px;
          color: #000;
        }
      }

      &:hover .proj-info {
        transform: translateY(0%);
      }
    }

    @keyframes cardAnimation {
      0% {
        opacity: 0;
        transform: translateY(50px) scale(0.8);
      }

      50% {
        opacity: 0.7;
        transform: translateY(10px) scale(1.05);
      }

      100% {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

  .btn_container {
    position: relative;
    margin-left: 100px;
    width: 92%;
    display: flex;
    justify-content: space-between;
    top: 42%;

    .hidden {
      visibility: hidden;
    }

    .show {
      display: block;
    }

    .button {
      display: block;
      font-size: 30px;
      color: #2aa198;
      background-color: transparent;
      border: none;
      cursor: cell;
    }

    .prev {
      animation-name: prev;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      cursor: w-resize;
    }

    @keyframes prev {
      0% { transform: translate(0, 0); }
      50% { transform: translate(5px, 0); }
      100% { transform: translate(0, 0); }
    }

    .next {
      animation-name: next;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      cursor: e-resize;
    }

    @keyframes next {
      0% { transform: translate(0, 0); }
      50% { transform: translate(-5px, 0); }
      100% { transform: translate(0, 0); }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container.work-page {
    .text-zone {
      position: initial;
      transform: none;
      width: 100%;
      display: block;
      padding: 20px;
      box-sizing: border-box;
    }

    h1 {
      font-size: 44px;

      &::before {
        margin-top: -10px;
        left: -10px;
      }

      &::after {
        bottom: -20px;
        margin-left: 20px;
      }
    }

    .cards {
      position: relative;
      left: 0%;
      top: 2%;

      .proj-container {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: 369px;
        box-shadow: 5px 5px 5px #081b1939;

        .proj-info {
          background: transparent;
          position: static;
          transform: none;

          p {
            color: #fff;
            animation: pulse 1s;
            animation-delay: 1.1s;
          }
        }
      }
    }

    .btn_container {
      margin-left: 0;
      width: 100%;
      justify-content: space-around;
      top: 0%;
    }
  }
}
